dataset/
dataset/**
models/
models/**
outputs/
outputs/**
scripts/
scripts/**
shape_predictor_68_face_landmarks.dat
drowzy/
drowzy/**
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
presentation/
report/
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db
assets/